@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital@1&display=swap');

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background-color: #000000;
    color: white;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s; /* Efek transisi warna teks saat hover */
}

/* Efek hover untuk tautan menu */
.menu a:hover {
    color: rgb(255, 208, 0);
}



.utama {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* min-height: 80vh; Menggunakan min-height agar sesuai dengan konten yang lebih besar */
    align-items: center; /* Menggeser konten ke tengah secara vertikal */
    /* padding: 5%; Menambahkan margin keseluruhan .utama */
    padding-top: 0%;
}
.utama div{
    padding: 3%;
}
.flex-item {
    /* width: 175px; */
    /*height: 175px; */
    /* background-color: grey; */
    margin: 10%;
}

#hello {
    font-size: 30px;
    margin: 0;
    font-family: 'Pacifico', cursive; /* Menggunakan font Pacifico jika tersedia */
}

#nama {
    font-size: 25px;
    margin: 0;
    /* margin: 100px; */
    text-align: center;
    font-family: poppins;
}

.lastplay {
    /* background-color: red; */

    width: 20%;
    /* height: 20vh; */
    margin: 10%;
}
.lastplay img{
    width: 100%;
}
.footer{
    width: 100%;
    min-height: 150px;
    background-color: #222021;
    margin-top: 20px;
}
.footer .footer-container{
    
}
.footer-container .row{
    font-size: 50px;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    padding: 10px;
}
.row a{
    text-decoration: none;
    color: white;
    margin: 15px;
}

#please-content{
    font-size: 25px;
}

#Copyright-content{
    font-size: 20px;
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .menu {
        max-height: 0;
        /* overflow: hidden; */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transition: max-height 1s, opacity 1s; /* Efek transisi */
        opacity: 0;
        padding: 1%;
        margin-top: -20px;
    }
    
    .menu.active {
        margin-top: -20px;
        max-height: 200px; /* Atur sesuai dengan tinggi menu sebenarnya */
        opacity: 1;
    }

    .menu li {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        margin: 10px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    .utama {
        flex-direction: column-reverse; /* Mengubah flex direction */
    }
    .flex-item {
        /* width: 175px; */
        /*height: 175px; */
        /* background-color: grey; */
        /* margin: 10%; */
        margin: 0;
    }
    .lastplay{
        width: 50%;
        margin: 0;
    }
    #please-content{
        font-size: 18px;
    }
    #Copyright-content{
        font-size: 12px;
    }
}
